.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Nav tutorial https://www.w3schools.com/css/css_navbar.asp */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #280042;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #6a5784;
}

.selected {
  border: 1px solid #6a5784;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

.rental-error {
  color: red;
  margin: 10px;
}

.rental-success {
  color: green;
  margin: 10px;
}

